.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.form-group{
  text-align: left;
  text-emphasis-color:black;
  color:black;
  
}
button[type=submit], input[type=submit] {
  width: 43%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
font-family: Lucida Bright;
text-align: center;
position: relative;
  left: 28%;
}
.btn{

border-radius: 50%;
float: none;
border: none;
background-color: #4CAF50;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
text-align: center;
bottom : 25px;
position: relative;

}
.btn:hover {
  background-color: #4CAF50;
  color: white;
}

textarea {
  width: 25%;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  text-align: center;
  margin: 8px 0;
}

.selectbtn {
  width: 55%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
font-family: Lucida Bright;
text-align: center;
position: relative;
  left: 20%;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 25%;
  margin-bottom: 25px;
}


select {
font: inherit;
height: 40px;
left:80px;
}