<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/reset">Reset Test</a>
      <a mat-list-item href="/results">Results</a>
      <a mat-list-item href="/config">Update Config</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Add Questions</span>
    </mat-toolbar>
    
<!-- contents here -->
    <link rel='shortcut icon' href='assets/evertz_favicon.ico'/>
    <img src="assets/evertz-logo.png" id="logo">


    <ejs-splitter #horizontal height='900px' width='100%' >
               <e-panes>
                    <e-pane size='50%' [collapsible]='true'>
                        <ng-template #content>
                           <div class="textarea" style="margin: 4 auto;text-align: center;" align="center">
                                <h2>Question</h2>
                                <textarea  ng-required="true" ref-textarea [(ngModel)]="Questiondata" matInput rows="2" cols="40"placeholder="Questions" style="width: 400px;" ></textarea><br>
                           </div>
                        <div align="center">
                                        
                                <textarea ref-textarea [(ngModel)]="Option1" matInput rows="2" cols="40" placeholder="option1" ></textarea>&nbsp;&nbsp;
                                <textarea ref-textarea [(ngModel)]="Option2" matInput rows="2" cols="40" placeholder="option2" ></textarea>&nbsp;
                                <ng-container *ngIf="Expand">                                
                                <br>
                                <textarea ref-textarea [(ngModel)]="Option3" matInput rows="2" cols="40" placeholder="option3"></textarea>&nbsp;&nbsp;
                                <textarea ref-textarea [(ngModel)]="Option4" matInput rows="2" cols="40" placeholder="option4"></textarea><br><br>

                                
                                </ng-container>

                                <button class="btn" (click)="toggle()" id="bt" >{{buttonName1}}</button>                                
                                <!-- <br><textarea ref-textarea [(ngModel)]="AnswerValue" matInput rows="2" cols="40" placeholder="Answer"></textarea> -->
                                
                                </div>
                                <div class="selectbtn" align="center">

                                 <select class="form-control" (change)="selectAnswerHandler($event)">
                                <option value ="">Select Answer</option> 
                                <option *ngFor="let A of Answer" [value]="A">{{A}}</option>
                                </select> &nbsp;&nbsp;&nbsp;&nbsp; 
                                <select class="form-control" (change)="selectChangeHandler($event)">
                                <option value ="">Select Module</option> 
                                <option *ngFor="let M of Module" [value]="M">{{M}}</option>
                                </select> &nbsp;&nbsp;&nbsp;&nbsp; 
                                
                                </div>
                                <br><br><br>
                                <button type="submit" name="start" (click)="handleClick($event)">AddQuestion </button>      

                             </ng-template>
                         </e-pane>
                      <e-pane size='50%' [collapsible]='true'>
                         <ng-template #content>
                        <div align="center">
                        <h2>Preview Question</h2><br>
                        </div>

                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;selected Module: {{selectedModule}}</h3>
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;Question :</h3> &nbsp;
                        {{Questiondata}}<br><br>
                        
                        &nbsp;&nbsp;&nbsp;&nbsp; <input type = "radio" name ="option1">{{Option1}}<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; <input type = "radio" name ="option1">{{Option2}}<br>
                        <ng-container *ngIf="Expand">
                                &nbsp;&nbsp;&nbsp;&nbsp; <input type = "radio" name ="option1">{{Option3}}<br>
                                &nbsp;&nbsp;&nbsp;&nbsp; <input type = "radio" name ="option1">{{Option4}}<br>
                        </ng-container>       

                         </ng-template>
                     </e-pane>
                 </e-panes>
             </ejs-splitter>
  
    

    
        

  </mat-sidenav-content>
</mat-sidenav-container>
