<head>
  <title>Administrator Login</title>
</head>

<body>

  
    <div class="wrapper">
      <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn">
          <br><img src="assets/evertz-logo.png" id="icon" />
        </div>
        
        <!-- Tabs Titles -->
        <h2 class="active"> Administrator Login </h2><br><br>
        
        
    
        <!-- Login Form -->
        <form >
          <div class="form-group">
          <input type="text" id="login" class="fadeIn inputText" required >
          <span class="floating-label" >User Name</span><br>
          </div>
          <div class="form-group">
          <input type="password" id="password" class="fadeIn inputText" required>
          <span class="floating-label" >Password</span><br>
          </div>
          <input type="submit" class="fadeIn" value="Log In">
        </form>
    
    
      </div>
    </div>
    
  

</body>