.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.regnumber{
  text-align: center;
  
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 30%;
  margin-bottom: 25px;
}
.btn{

  border-radius: 50%;
  float: none;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  position: relative;
  color: white;
 left:1%;
}
.form-group{
  text-align: center;
}
