<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/addquestion">Add Question</a>
      <a mat-list-item href="/results">Results</a>
      <a mat-list-item href="/config">Update Config</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Reset Test</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <link rel='shortcut icon' href='assets/evertz_favicon.ico'/>
    <img src="assets/evertz-logo.png" id="logo">
    
    
        <div class="form-group">
          <input type="text" required #RegisterNumber style="width:300px;height:30px;" placeholder="Enter Register Number"/>
            
             <br><br>
              <button type="submit" name="start"  class="btn" (click)="resetTest(RegisterNumber.value)">Reset</button>
              <p class="errorDisplay">
                  <br>
                  <br>
              </p>
        </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
