<ngx-loading-bar></ngx-loading-bar>
<div class={{serverStatus_Error_Class}}>
        <i class={{serverStatus_Error_Box}}></i>
        {{serverStatus_Error_Message}}
</div>

<div  *ngIf="isQuestionsLoaded == 'false'; then displayLoading else displayQuestions"></div>
<ng-template #displayLoading>
    <div id="loader"></div>
</ng-template>
<ng-template #displayQuestions>
    <div>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8" >
                        <img src="assets/evertz-logo.png" id="logo">
                        <h5><u>Evertz India - Online Test </u></h5>
                    </div>
                    <div class="col-sm-4" >
                        <h3>Welcome {{studentName}} ({{registerNumber}})</h3>
                        <countdown #countdown [config] = "{leftTime :3600}" (finished)="finishTest()"> $!m!:$!s! </countdown>
                    </div>
                    
                </div>
                <!--<p>Time Left {{hours}}:{{minutes}}:{{seconds}}</p>-->
        </div>

        <div class="container-fluid display">
            <div class="row content">
                <div class="col-sm-3 ">

                <div *ngFor="let module of moduleName">
                    <div *ngIf="checkModule(module)"> 
                        <h4><u> {{module}} </u></h4><br>
                    </div>

                        <div class="first-row" *ngFor="let totalQuestions of sortedModuleQuestions ; let i = index">
                            <div *ngIf="checkModuleQuestion(totalQuestions)">
                                    <input type="button" id="question-id" class="btn btn-{{buttonColor[totalQuestions.Id-1]}} mr-1" value={{totalQuestions.Id}} name={{totalQuestions.Id}} (click)="displayQuestionOnUI(totalQuestions.Id)">
                            </div>
                        </div>
                    <div class="vl">  </div>
                </div>
                </div>

                <div class="col-sm-9 "> 
                    <form (ngSubmit) = "onSubmit($event)">          
                        <b> <div class ="questions">  
                            <div class="question-display"> {{questionToDisplay.Id}}.) {{questionOnHTML}}  </div>
                        
                            <div  *ngFor="let displayOptions of questionToDisplay.QuestionOptions">
                                <div *ngIf="displayOptions.OptionId == optionIdSelectdByCandidate; then checkedRadioButton else unCheckedRadioButton"></div>
                                <ng-template #checkedRadioButton>
                                    <input  type ="radio" name ="option" value ="{{displayOptions.OptionId}}" checked (change)="radioChangeHandler($event)"> {{displayOptions.OptionValue}}
                                </ng-template>
                                <ng-template #unCheckedRadioButton>
                                        <input  type ="radio" name ="option" value ="{{displayOptions.OptionId}}" (change)="radioChangeHandler($event)"> {{displayOptions.OptionValue}}
                                    </ng-template>
                            </div>
                            
                        </div> </b>
                            <div class = "buttons">
                                <div  *ngIf="isLastQuestion == 'false'; then enablenextbutton else disablenextbutton"></div>
                                <ng-template #enablenextbutton>
                                    <button type="button" class="btn btn-success mr-1" (click)="nextQuestionClicked()">Save/Next Question</button>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#submitPrompt" > Submit </button> <br><br>
                                    <h6><b><u>Save/Next Question:</u></b> Saves the answer to the database if selected, if not selected, navigates to the next question.</h6>
                                    <h6><b><u>Submit Test:</u></b> Saves the answers to the database and completes the test. Only choose this option if you want to discontinue the test. You will not be able to retake the test if this button is pressed.</h6>
                                </ng-template>
                                <ng-template #disablenextbutton>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#submitPrompt" > Submit </button> <br><br>
                                        <h6><b><u>Save/Next Question:</u></b> Saves the answer to the database if selected, if not selected, navigates to the next question.</h6>
                                        <h6><b><u>Submit Test:</u></b> Saves the answers to the database and completes the test. Only choose this option if you want to discontinue the test. You will not be able to retake the test if this button is pressed.</h6>
                                </ng-template>
                            </div>

                            
                            <!-- The Modal -->
                            
                            <div  class="modal" id="submitPrompt" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-body"> Are you sure you want to submit, And Move to Coding Questions? </div>
                                            <div class="modal-footer">
                                                
                                                <button type="submit" class="btn btn-primary">Yes</button>
                                                
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>        
                            
                    </form>      
                </div>   

            </div>
        </div>
    </div>
</ng-template>