<div class={{serverStatus_Error_Class}}>
        <i class={{serverStatus_Error_Box}}></i>
        {{serverStatus_Error_Message}}
</div>
<h4>{{moduleName}} - Coding Test</h4>
<div class="details">
        <h3>Welcome {{studentName}} ({{registerNumber}})</h3>
</div>


<h3>{{question}}</h3>
       
<div>
    <div class="codingbox">
        <ngx-monaco-editor #editor class="my-code-editor" [options]="editorOptions" ></ngx-monaco-editor>
    </div>


    <div  *ngIf="isNextButtonEnaled == 'true'; then displayNextButton else hideNextButton"></div>
    <ng-template #displayNextButton>
        <input type="button" value="Save Program" (click)="saveProgram(editor)">
        <input type="button" value="Compile Program" (click)="compileProgram(editor)">
        <input type="button" value="Run Program" (click)="runProgram(editor)">
        <input type="button" value="Submit Program" (click)="submitProgram(editor)">
        <input type="button" value="Next Program" (click)="nextProgram(editor)">
    </ng-template>
    <ng-template #hideNextButton>
        <input type="button" value="Save Program" (click)="saveProgram(editor)">
        <input type="button" value="Compile Program" (click)="compileProgram(editor)">
        <input type="button" value="Run Program" (click)="runProgram(editor)">
        <input type="button" value="Submit Program" (click)="submitProgram(editor)">
    </ng-template>

    <h5>{{compilationStatus}}</h5>
    <div  *ngIf="isTestCaseResultsAvailable == 'true'; then displayResults"></div>
    <ng-template #displayResults>
        <div  *ngFor="let testStatus of testCaseResults">
            <h5>Testcase {{testStatus.TestCaseId}}</h5>
            <div  *ngIf="testStatus.TestCaseHiddenStatus == '0'; then displayTestCaseResults else displayTestCaseStatus"></div>
            <ng-template #displayTestCaseResults>
                <div  *ngIf="testStatus.TestCaseResultStatus == '0'; then Success else failed"></div>
                <ng-template #Success>
                    <h6><h6>Testcase Status: Shown</h6></h6>
                    <h6>Testcase Input: {{testStatus.TestCase}}</h6>
                    <h6>Your Program Output: {{testStatus.TestCaseOutput}}</h6>
                    <h6>Expected Output: {{testStatus.TestCaseExpectedOutput}}</h6>
                    <h6>Testcase Result: Passed</h6>
                </ng-template>
                <ng-template #failed>
                    <h6><h6>Testcase Status: Shown</h6></h6>
                    <h6>Testcase Input: {{testStatus.TestCase}}</h6>
                    <h6>Your Program Output: {{testStatus.TestCaseOutput}}</h6>
                    <h6>Expected Output: {{testStatus.TestCaseExpectedOutput}}</h6>
                    <h6>Testcase Result: Failed</h6>
                </ng-template>
            </ng-template>
            <ng-template #displayTestCaseStatus>
                <div  *ngIf="testStatus.TestCaseResultStatus == '0'; then SuccessHidden else failedHidden"></div>
                <ng-template #SuccessHidden>
                    <h6>Testcase Status: Hidden</h6>
                    <h6>Testcase Input: Hidden</h6>
                    <h6>Your Program Output: Hidden</h6>
                    <h6>Expected Output: Hidden</h6>
                    <h6>Testcase Result: Passed</h6>
                </ng-template>
                <ng-template #failedHidden>
                        <h6>Testcase Status: Hidden</h6>
                        <h6>Testcase Input: Hidden</h6>
                        <h6>Your Program Output: Hidden</h6>
                        <h6>Expected Output: Hidden</h6>
                        <h6>Testcase Result: Failed</h6>
                    </ng-template>
            </ng-template>
            <h6>-------------------------------------------------</h6>
       </div>
    </ng-template>
        

</div>
