<head>
    <title>Evertz Interview - Written Test</title>
    <link rel='shortcut icon' href='assets/evertz_favicon.ico'/>
  </head>
  <body>
    
      <div class={{serverStatus_Error_Class}}>
          <i class={{serverStatus_Error_Box}}></i>
          {{serverStatus_Error_Message}}
       </div>
  
    <!--Evertz logo-->
    <img src="assets/evertz-logo.png" id="logo">
  
        <!--Alert if any errors on loading page-->
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  
        <!--Form for collecting data-->
        <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="onSubmit($event, RegisterNumber.value, StudentName.value, DOB.value, Gender.value, College.value, Degree.value, Branch.value, YearOfPassing.value, CGPA.value, Email.value, Mobile.value)">
  
            <!--To get RegisterNumber-->
            <div class="form-group">
              <input type="text" required #RegisterNumber formControlName="registrationNumber" class = "inputText" [ngClass]="{ 'is-invalid': submitted && formControls.registrationNumber.errors }"/>
                <span class="floating-label" >Registration Number</span><br>
                  <div *ngIf="submitted && formControls.registrationNumber.errors" class="invalid-feedback">
                      <div *ngIf="formControls.registrationNumber.errors.required" class="suggestion" >University Registration Number is required</div>
                      <div *ngIf="formControls.registrationNumber.errors.pattern" class="suggestion">Valid Registration Number is allowed</div>
                  </div>
              </div>
  
              <!--To get StudentName-->
              <div class="form-group">  
                  <input type="text" required #StudentName formControlName="firstName" class = "inputText" [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }">
                    <span class="floating-label" >Full Name</span><br>
                  <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
                      <div *ngIf="formControls.firstName.errors.required" class="suggestion">Name is required</div>
                      <div *ngIf="formControls.firstName.errors.pattern" class="suggestion">Only Characters are allowed</div>
                  </div>
              </div>
  
              <!--To Get DOB-->
              <div class="form-group">
                  <input type="text" #DOB formControlName="dateOfBirth" placeholder="Date of Birth" [ngClass]="{ 'is-invalid': submitted && formControls.dateOfBirth.errors }" id="date" onfocus="(this.type='date')">
                  <br>
                  <div *ngIf="submitted && formControls.dateOfBirth.errors" class="invalid-feedback">
                      <div *ngIf="formControls.dateOfBirth.errors.required" class="suggestion">DOB is required</div>
                  </div>
              </div>
  
              <!--To Get Gender-->
              <div class="form-group" >
                  <select class="form-control" formControlName="gender" #Gender>  
                      <option value ="">Select Gender</option> 
                      <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>  
                  </select>
                  <div *ngIf="submitted && formControls.gender.errors">
                      <div *ngIf="formControls.gender.errors.required" class="suggestion">Please select your gender</div>
                  </div>
              </div>
  
              <!--To Get College Details-->
              <div class="form-group">    
                  <select class="form-control" formControlName="collegeName" #College>  
                      <option value ="" class="alert_select">Select College</option>
                      <option *ngFor="let college of collegeName" [value]="college.Id">{{college.Name}}</option>  
                  </select> 
                  <div *ngIf="submitted && formControls.collegeName.errors">
                      <div *ngIf="formControls.collegeName.errors.required" class="suggestion">Please select your college</div>
                  </div> 
              </div>
  
              <!--To Get Degree-->
              <div class="form-group">  
                  <select class="form-control" formControlName="degree" #Degree> 
                      <option value ="">Select Degree</option> 
                      <option *ngFor="let deg of degree" [value]="deg.Id">{{deg.Name}}</option>
                  </select>  
                  <div *ngIf="submitted && formControls.degree.errors">
                      <div *ngIf="formControls.degree.errors.required" class="suggestion">Please select your Degree</div>
                  </div>
              </div>
  
              <!--To Get Branch-->
              <div class="form-group">  
                  <select class="form-control" formControlName="stream" #Branch> 
                      <option value ="" class="grey_color" >Select Branch</option> 
                      <option *ngFor="let stm of stream" [value]="stm.Id">{{stm.Name}}</option>
                  </select>  
                  <div *ngIf="submitted && formControls.stream.errors">
                      <div *ngIf="formControls.stream.errors.required" class="suggestion">Please select your Branch</div>
                  </div>
              </div>
  
              <!--To Get Year of Passing-->
              <div class="form-group">
                  <input type="text" required #YearOfPassing formControlName="yearOfPassing" class="inputText" [ngClass]="{ 'is-invalid': submitted && formControls.yearOfPassing.errors }">
                  <span class="floating-label" >Year Of Passing</span><br>
                  <div *ngIf="submitted && formControls.yearOfPassing.errors" class="invalid-feedback">
                      <div *ngIf="formControls.yearOfPassing.errors.required" class="suggestion">Year of Passing is required</div>
                      <div *ngIf="formControls.yearOfPassing.errors.pattern" class="suggestion">Only 2020 batch students are allowed</div>
                  </div>
              </div>
  
              <!--To Get CGPA-->
              <div class="form-group">
                  <input type="text" required #CGPA formControlName="overallCGPA" class="inputText" [ngClass]="{ 'is-invalid': submitted && formControls.overallCGPA.errors }">
                  <span class="floating-label" >Overall CGPA or Percentage (Eg. 80.25)</span><br>
                  <div *ngIf="submitted && formControls.overallCGPA.errors" class="invalid-feedback">
                      <div *ngIf="formControls.overallCGPA.errors.required" class="suggestion">Overall CGPA is required</div>
                      <div *ngIf="formControls.overallCGPA.errors.pattern" class="suggestion">Only percentage allowed. Eg. 85.25</div>
                  </div>
              </div>
  
              <!--To Get Email-->
              <div class="form-group">
                  <input type="text" required #Email formControlName="personalEmailId" placeholder="" class="inputText" [ngClass]="{ 'is-invalid': submitted && formControls.personalEmailId.errors }">
                  <span class="floating-label" >Personal Email Address</span><br>
                  <div *ngIf="submitted && formControls.personalEmailId.errors" class="invalid-feedback">
                      <div *ngIf="formControls.personalEmailId.errors.required" class="suggestion">Personal E-mail is required</div>
                      <div *ngIf="formControls.personalEmailId.errors.email" class="suggestion">Email must be a valid email address</div>
                  </div>
              </div>
  
              <!--To Get Mobile Number-->
              <div class="form-group">
                  <input type="text" required #Mobile formControlName="personalMobileNumber" class="inputText" [ngClass]="{ 'is-invalid': submitted && formControls.personalMobileNumber.errors }">
                  <span class="floating-label" >Personal Mobile Number (Max 10 digits)</span><br>
                  <div *ngIf="submitted && formControls.personalMobileNumber.errors" class="invalid-feedback">
                      <div *ngIf="formControls.personalMobileNumber.errors.required" class="suggestion">Mobile Number is required</div>
                      <div *ngIf="formControls.personalMobileNumber.errors.pattern" class="suggestion">Mobile Number must be valid</div>
                  </div>
              </div>
  
              <!--To Set Instructions-->
              <br>
              <h3 id="instructionHeading">
                  <u>Instructions</u>
              </h3>
              <br>
  
              <div class = "instructions">
                  <h6>1. Total duration of the test is 30 minutes. You will be presented 60 questions to answer.</h6>
                  <h6>2. When the "Start Test" button is pressed, your time will start.</h6>
                  <h6>3. No negative marking for incorrect answers.</h6>
                  <h6>4. Each question carries 1 mark.</h6>
                  <h6>5. The programming module can be chosen by the candidate. The programming module consists of 10 questions.</h6>
                  <h6>6. Other modules. SQL, Networking, Linux, Aptitude and Broadcast consists of 10 questions each and need to be answered.</h6>
                  <h6>7. Navigation between different questions is possible by choosing the question from the left navigation panel.</h6>
                  <h6>8. If the timer runs out after 30 minutes, your answers will be saved the test will automatically exit.</h6>
                  <h6>9. Please do not refresh or close the browser. Let the invigilator know if the browser is closed so the test can be re-taken.</h6>
              </div>
  
              
            
  
              <!--To Get Programming Language-->
              <h3>Choose one Programming language</h3>
              <div class="form-group">
                  <div class="radioButtons">
                      <div *ngFor="let program of programme">
                          <input type="radio" name="Programme" [value]="program.Id" (change)="radioChangeHandler($event)" >{{program.Name}}
                      </div>
                  </div>
              </div>
  
              <!--Submit Button to submit the details-->
              <button type="submit" name="start" >Start Test</button>
              <p class="errorDisplay">
                  <br>
                  <br>
              </p>
  
      </form>
  </body>