#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 30%;
    margin-bottom: 25px;
}

body {
    font-family: Lucida Bright;
    overflow-x: hidden;
    
}

form {
	padding-top: 10px;
    font-family: Lucida Bright;
    
}

input[type="radio"]{
    margin-right: 0.5%;
}

input[type=text], [type=date], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Lucida Bright;
    height: 20%;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    text-transform: uppercase;
  }

 [type="date"]::-webkit-inner-spin-button {
    display: none;
  }

 [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }


button[type=submit], input[type=submit] {
    width: 12%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: Lucida Bright;
	text-align: center;
	position: relative;
	left: 42%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.errorDisplay {
	color: red;
	font-family: Lucida Bright;
	text-align: center;
}

.centeringDiv, .radioButtons {
	text-align: center;
}

h3 {
	text-align: center;
}
option{
    color: black;
}

.grey_color{
    color: grey;
}

#instructionHeading {
	color: red;
}

::placeholder {
    color: black;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: white;}


.radioButtons {
	position: relative;
	left: 45%;
	text-align: left;
	line-height: 25pt;
}

.form-radio {
	margin-right: 10px;
}

.form-group{
    text-align: center;
    position: relative;
}

.instructions{
    margin-left: 25%;
    margin-right: auto;
    width: 78%;
    height:250px;
    text-align: justify; 
    margin-bottom: 1%;   
    display:block;
}

.suggestion {
    display: flex;
    justify-content: flex-end;
    color: red;
    width: 75%;
}

 
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
 
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: -25%;
  left: 25%;
  font-size: 14px;
  opacity: 1;
  color: darkgoldenrod;
}

.inputText {
  font-size: 14px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 26%;
  top: 30%;
  transition: 0.2s ease all;
}